<% include _header %>

	<div class="page-header">
		<!-- Varia il titolo in base al tipo di pagina richiesta -->

		<% if(tipoVista == "todo"){ %>
  		<h1>Gestione Ordini <small>Visualizza e elimina le ordinazioni</small></h1>
		<%}%>

		<% if(tipoVista == "done"){ %>
  		<h1>Gestione Ordini <small>Visualizza e ripristina gli ordini già completati</small></h1>
		<%}%>

	</div>

	<!-- Mostra solo se la vista è di tipo TODO -->
	<% if(tipoVista == "todo"){ %>
		<div class="pull-right">
	  	<a href='/undoLastOrder' class="btn btn-raised btn-warning">
	    	<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
	    	Annulla ultimo Completato
	  	</a>
		</div> 
	<% } %>
	
	<div class="container orders-block">
	
		<% for(var i = 0; i < ordini.length; i+=2){ %>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-default">
	  				<div class="panel-heading">
	  					ID ORDINE: <%= ordini[i].order_id %>
	  					<div class="pull-right btn-order"> 
	  						<!-- cambia bottone in base al tipo di vista -->
	  						<% if(tipoVista == "todo"){ %>
		  						<a href='/orders/completato/<%= ordini[i].order_id %>' class="btn btn-raised btn-danger">
	            			<i class="icon-user icon-white"></i>
	            			COMPLETATO
	          			</a>
	          		<% } %>
	          		<% if(tipoVista == "done"){ %>
		  						<a href='/orders/ripristina/<%= ordini[i].order_id %>' class="btn btn-raised btn-info">
	            			<i class="icon-user icon-white"></i>
	            			RIPRISTINA
	          			</a>
	          		<% } %>
          		</div>
	  				</div>
	  				<div class="panel-body">
	  					<div class="pull-right">
	  						<a onclick="getDetail(<%=ordini[i].order_id%>)" class="btn btn-raised btn-success">
	    						Dettaglio
	  						</a>
							</div> 
							<div class="detail" id="detailBox_<%=ordini[i].order_id%>">
								<div class="exitDetail">
									<button onclick="exitDetail(<%=ordini[i].order_id%>)" class="exit_detail" id="exit_<%=ordini[i].order_id%>">X</button>
								</div>
								<div class="detail-content" id="detail_<%=ordini[i].order_id%>">
									
								</div>
							</div>
	  					<p class="nome-ordine">Nome Ordine: <%= ordini[i].nome %></p>
	  					<p class="totale-ordine">Totale Ordine: <%= ordini[i].totale_effettivo %>€</p>		
	  				</div>
					</div>
				</div>
				<% if(i+1 < ordini.length){ %>
		  		<div class="col-sm-6">
		  			<div class="panel panel-default">
		  				<div class="panel-heading">
		  					ID ORDINE: <%= ordini[i+1].order_id %>
		  					<div class="pull-right btn-order">
			  					<!-- cambia bottone in base al tipo di vista -->
		  						<% if(tipoVista == "todo"){ %>
			  						<a href='/orders/completato/<%= ordini[i].order_id %>' class="btn btn-raised btn-danger">
		            			<i class="icon-user icon-white"></i>
		            			COMPLETATO
		          			</a>
		          		<% } %>
		          		<% if(tipoVista == "done"){ %>
			  						<a href='/orders/ripristina/<%= ordini[i].order_id %>' class="btn btn-raised btn-info">
		            			<i class="icon-user icon-white"></i>
		            			RIPRISTINA
		          			</a>
		          		<% } %>
		          	</div>
		  				</div>
		  				<div class="panel-body">
		  					<div class="pull-right">
	  							<a onclick="getDetail(<%=ordini[i+1].order_id%>)" class="btn btn-raised btn-success">
	    							Dettaglio
	  							</a>
								</div> 
								<div class="detail" id="detailBox_<%=ordini[i+1].order_id%>">
									<div class="exitDetail">
										<button onclick="exitDetail(<%=ordini[i+1].order_id%>)" class="exit_detail" id="exit_<%=ordini[i+1].order_id%>">X</button>
									</div>
									<div class="detail-content" id="detail_<%=ordini[i+1].order_id%>">
										
									</div>
								</div>
		  					<p class="nome-ordine">Nome Ordine: <%= ordini[i+1].nome %></p>
		  					<p class="totale-ordine">Totale Ordine: <%= ordini[i+1].totale_effettivo %>€</p>		
		  				</div>
						</div>
		  		</div>
		  	<% } %>
			</div>

			<br/>
		
		<%}%>

		</div>

		
<% include _footer %>

<!--
<meta http-equiv="refresh" content="15" >
-->